body {
  font-size: 18px;
  font-family: sans-serif, Georgia, "Times New Roman", Times, serif;
  line-height: normal;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
  color: black;
}
.header-left i {
  margin-right: 35px;
  align-self: flex-start;
  margin-left: 1px;
}
.header-center {
  align-self: center;
}

.header-right button {
  height: 35px;
  background-color: #326892;
  border-radius: 2px;
  border: none;
  color: white;
  text-align: center;
}

.content-head {
  position: relative;
  width: calc(100% - 40px);
  max-width: 700px;
  margin: auto;
}

.content-head > h1 {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
}

.social-share > i {
  margin: 0px 5px;
}

.feature-image {
  width: calc(100vw - 60px);
  max-width: 1200px;
  margin: 10px auto;
}

.feature-image > img {
  width: 100%;
}
.feature-image > figcaption {
  width: 85%;
  font-size: 15px;
  opacity: 0.6;
}

.content {
  width: calc(100% - 80px);
  max-width: 650px;
  margin: auto;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 2;
  font-size: 18px;
}

.more-action {
  text-align: center;
  line-height: 0.5;
}

.middle-content {
  position: relative;
}

.more-action > a {
  color: rgb(81, 104, 96);
}

.side-content > div {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  font-size: 13px;
}
.side-content > div > img {
  width: 100px;
  height: 100px;
  margin-right: 5px;
}

.side-content {
  max-width: 300px;
  position: absolute;
  right: 10px;
  top: 0px;
}

.big-bang {
  max-width: 1000px;
  margin: auto;
  padding: 0 10px;
}

.big-bang > h3 {
  margin: 0;
}

.cards-bang {
  display: flex;
  flex-wrap: wrap;
}
.cards-bang > figure {
  width: 24%;
  margin: auto;
}
.bang-details {
  width: 75%;
}

.bang-image {
  width: 150px;
}

.bottom-content {
  position: relative;
}

.more {
  width: 75%;
  align-items: left;
}
.side-astronomy {
  display: flex;
  flex-wrap: wrap;
}

.side-astronomy > figure {
  width: 30%;
  margin: auto;
}

.side-astronomy > figure > img {
  width: 300px;
}
.side-astronomy > figure > figcaption {
  width: 75%;
  margin-top: 5px;
}

.more-reads {
  max-width: 300px;
  position: absolute;
  right: 10px;
  top: 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
}

.more-reads > div {
  margin: 20px auto;
  padding: 20px auto;
  border-top: rgb(11, 12, 12);
}
.space {
  display: flex;
  flex-wrap: wrap;
  width: 50px;
}

.summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  position: absolute;
}
.conclusion {
  position: relative;
}
.services {
  position: absolute;
  width: 25%;
  margin: auto;
  top: 0px;
  right: 25px;
}

